<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<!-- 工程显示名称 -->
	<display-name>sdfz</display-name>
	<!-- 工程的描述性说明 -->
	<description>深大附中智慧校园平台</description>
	<!-- 工程的图标定义 -->
	<icon>
		<small-icon>/images/small.gif</small-icon>
		<large-icon>/images/large.gir</large-icon>
	</icon>
	<!-- 配置ServletContext(上下文) -->
	<!-- spring 配置文件路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
        classpath*:spring*.xml
    </param-value>
	</context-param>
	<!-- webApp的根，用来区分部署到同一tomcat的不同应用程序 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>sdfz</param-value>
	</context-param>
	<!-- Spring配置 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 日志文件配置路径 -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>SpringOpenSessionInViewFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SpringOpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>sessionStatEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>SESSION_SYS_USER</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- <servlet> <servlet-name>app_client_face</servlet-name> <servlet-class>com.jeefw.app.logic.ClientServerController</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>app_client_face</servlet-name> 
		<url-pattern>/client/face</url-pattern> </servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>401</error-code>
		<location>/login/callUnauthorized</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/login/callError404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/login/callError500</location>
	</error-page>
	
	
  <listener>
    <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
  </listener>
	<servlet>  
  
    <servlet-name>dwr-invoker</servlet-name>  
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  
    <init-param>  
  
        <description>调试DWR,发布系统时，应将其设为false</description>  
  
        <param-name>debug</param-name>  
  
        <param-value>true</param-value>  
  
    </init-param>  
  
    <!-- 使用polling和comet的方式 -->  
  
    <init-param>  
  
        <param-name>pollAndCometEnabled</param-name>  
  
        <param-value>true</param-value>  
  
    </init-param>  
  
    <load-on-startup>1</load-on-startup>  
  
</servlet>  
  
<servlet-mapping>  
  
    <servlet-name>dwr-invoker</servlet-name>  
  
    <url-pattern>/dwr/*</url-pattern>  
  
</servlet-mapping>
</web-app>
