

.mainMenu-iconCls{
    width:35px;
    height:35px;
    top:15px;
}
.mainMenuCls .x-menu-item-arrow{
    top: 23px;
    right: 10px;
}
.mainMenuItemCls span{
    font-size:15px;
    font-family: '微软雅黑';
    font-weight: 400;
    color:#404040;
}
.mainMenuPanel-img{
    border-radius: 15px;
    width: 35px;
    height: 35px;
    float:left;
    margin-right: 8px;

}

.mainMenuIconCls{
    width: 20px;
    height: 20px;
    top: 10px;
    left: 8px;
}



/*左侧菜单栏，二级菜单文字样式*/
.mainMenuSecondItemCls span{ 
    font-family: '微软雅黑';
    font-weight: 400;
    color:#404040;
}

