
.icon_banjiguanli
{
    background-image: url(../images/icon/index_banjiguanli.png) !important;
    background-size: cover;
}


.icon_bumenguanli
{
    background-image: url(../images/icon/index_bumenguanli.png) !important;
    background-size: cover;
}


.icon_caidanshouquan
{
    background-image: url(../images/icon/index_caidanshouquan.png) !important;
    background-size: cover;
}


.icon_disanfang
{
    background-image: url(../images/icon/index_disanfang.png) !important;
    background-size: cover;
}


.icon_fangjianguanli
{
    background-image: url(../images/icon/index_fangjianguanli.png) !important;
    background-size: cover;
}


.icon_fanjianxixin
{
    background-image: url(../images/icon/index_fanjianxixin.png) !important;
    background-size: cover;
}


.icon_huiyidaoru
{
    background-image: url(../images/icon/index_huiyidaoru.png) !important;
    background-size: cover;
}


.icon_huiyiguanli
{
    background-image: url(../images/icon/index_huiyiguanli.png) !important;
    background-size: cover;
}


.icon_jiaoseguanli
{
    background-image: url(../images/icon/index_jiaoseguanli.png) !important;
    background-size: cover;
}


.icon_jiaozhigong
{
    background-image: url(../images/icon/index_jiaozhigong.png) !important;
    background-size: cover;
}


.icon_jiaozhigongcanshu
{
    background-image: url(../images/icon/index_jiaozhigongcanshu.png) !important;
    background-size: cover;
}


.icon_jiaozhigongtongji
{
    background-image: url(../images/icon/index_jiaozhigongtongji.png) !important;
    background-size: cover;
}


.icon_jixujiaoyu
{
    background-image: url(../images/icon/index_jixujiaoyu.png) !important;
    background-size: cover;
}


.icon_kaoqinguize
{
    background-image: url(../images/icon/index_kaoqinguize.png) !important;
    background-size: cover;
}

.icon_kaoqinjieguo
{
    background-image: url(../images/icon/index_kaoqinjieguo.png) !important;
    background-size: cover;
}


.icon_kaoqinjilu
{
    background-image: url(../images/icon/index_kaoqinjilu.png) !important;
    background-size: cover;
}

.icon_kaoqintongji
{
    background-image: url(../images/icon/index_kaoqintongji.png) !important;
    background-size: cover;
}

.icon_kechengguanli
{
    background-image: url(../images/icon/index_kechengguanli.png) !important;
    background-size: cover;
}

.icon_kechenguanli
{
    background-image: url(../images/icon/index_kechenguanli.png) !important;
    background-size: cover;
}

.icon_kechenkaoqin
{
    background-image: url(../images/icon/index_kechenkaoqin.png) !important;
    background-size: cover;
}

.icon_paikeguanli
{
    background-image: url(../images/icon/index_paikeguanli.png) !important;
    background-size: cover;
}

.icon_renyuanguanli
{
    background-image: url(../images/icon/index_renyuanguanli.png) !important;
    background-size: cover;
}

.icon_renyuanxinxi
{
    background-image: url(../images/icon/index_renyuanxinxi.png) !important;
    background-size: cover;
}

.icon_shiziguanli
{
    background-image: url(../images/icon/index_shiziguanli.png) !important;
    background-size: cover;
}

.icon_shujuzidian
{
    background-image: url(../images/icon/index_shujuzidian.png) !important;
    background-size: cover;
}

.icon_tongjibaobiao
{
    background-image: url(../images/icon/index_tongjibaobiao.png) !important;
    background-size: cover;
}

.icon_xiaoquxinxi
{
    background-image: url(../images/icon/index_xiaoquxinxi.png) !important;
    background-size: cover;
}

.icon_xinxizhongduan
{
    background-image: url(../images/icon/index_xinxizhongduan.png) !important;
    background-size: cover;
}

.icon_xuexiaoxinxi
{
    background-image: url(../images/icon/index_xuexiaoxinxi.png) !important;
    background-size: cover;
}

.icon_xueyuancanshu
{
    background-image: url(../images/icon/index_xueyuancanshu.png) !important;
    background-size: cover;
}

.icon_xueyuanguanli
{
    background-image: url(../images/icon/index_xueyuanguanli.png) !important;
    background-size: cover;
}

.icon_xueyuantongji
{
    background-image: url(../images/icon/index_xueyuantongji.png) !important;
    background-size: cover;
}

.icon_xueyuanxinxi
{
    background-image: url(../images/icon/index_xueyuanxinxi.png) !important;
    background-size: cover;
}

.icon_yonghuguanli
{
    background-image: url(../images/icon/index_yonghuguanli.png) !important;
    background-size: cover;
}

.icon_zhiwuguanli
{
    background-image: url(../images/icon/index_zhiwuguanli.png) !important;
    background-size: cover;
}

.icon_zhongduanfenpei
{
    background-image: url(../images/icon/index_zhongduanfenpei.png) !important;
    background-size: cover;
}

.icon_zuzhijiagou
{
    background-image: url(../images/icon/index_zuzhijiagou.png) !important;
    background-size: cover;
}


.icon_jisuanguize
{
    background-image: url(../images/icon/index_jisuanguize.png) !important;
    background-size: cover;
}


.icon_xuefenjisuan
{
    background-image: url(../images/icon/index_xuefenjisuan.png) !important;
    background-size: cover;
}


.icon_bianji
{
    background-image: url(../images/icon/index_bianji.png) !important;
    background-size: cover;
    width: 28px;
    height: 13px;
}

.icon_shanchu
{
    background-image: url(../images/icon/index_shanchu.png) !important;
    background-size: cover;
    width: 28px;
    height: 13px;
}

.icon_xiangqing
{
    background-image: url(../images/icon/index_xiangqing.png) !important;
    background-size: cover;
    width: 28px;
    height: 13px;
}


.icon_xinjian
{
    background-image: url(../images/icon/xinjian_icon.png) !important;
    background-size: cover;
}

.icon_shanchu
{
    background-image: url(../images/icon/shanchu_icon.png) !important;
    background-size: cover;
}

.icon_bianji
{
    background-image: url(../images/icon/bianji_icon.png) !important;
    background-size: cover;
}
.rightTreeIconCls{
    width: 16px;
    height: 16px;
    top: 8px;
    left: 10px;
}
.icon_fenlei
{
    background-image: url(../images/icon/fenlei.png) !important;
    background-size: cover;
}

.icon_liebiao
{
    background-image: url(../images/icon/liebiao.png) !important;
    background-size: cover;
}

.icon_peixunpingjia{
    background-image: url(../images/icon/peixunpingjia.png) !important;
    background-size: cover;
}
.icon_pingjiazhibiao{
    background-image: url(../images/icon/pingjiazhibiao.png) !important;
    background-size: cover;
}
.icon_zongtipingjia{
    background-image: url(../images/icon/zongtipingjia.png) !important;
    background-size: cover;
}

.icon_kechengpingjia{
    background-image: url(../images/icon/kechengpingjia.png) !important;
    background-size: cover;
}
.icon_peixunanpai{
    background-image: url(../images/icon/peixunanpai.png) !important;
    background-size: cover;
}